#fondojuego{
    background-image: url("../img/fondojuego.jpg");
    margin-top: 70px;
    padding-top: 80px;
    padding-bottom: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    width: 2000px;
    position: relative;
}

#jugador{
    background-image: url("../img/jugador.png");
    width: 50px;
    height: 70px;
    position: absolute;
    margin: 0px;
    left : 510px;
    top: 511px;
    background-size: 100% 100%;
}

#paso1{
    width: 50px;
    height: 60px;
    position: absolute;
    top: 430px;
    left: 0px;
    background-image: url("../img/Personaje1.gif");
    background-size: 100% 100%;
}

#paso2{
    width: 50px;
    height: 60px;
    position: absolute;
    top: 350px;
    left: 1050px;
    background-image: url("../img/2Personaje2.gif");
    background-size: 100% 100%;
}

#paso3{
    width: 50px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 270px;
    background-image: url("../img/Personaje3.gif");
    background-size: 100% 100%;
}

#paso4{
    width: 50px;
    height: 60px;
    position: absolute;
    left: 1050px;
    top: 190px;
    background-image: url("../img/2Personaje4.gif");
    background-size: 100% 100%;
}

#paso5{
    width: 50px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 110px;
    background-image: url("../img/Personaje5.gif");
    background-size: 100% 100%;
}

#final{
    position: absolute;
    left: 495px;
    width: 80px;
    height: 70px;
    top: 5px;
    background-image: url("../img/Background.png");
    background-size: 100% 100%;
    text-align: center;
}


#contador{
    left: 1040px;
    background-color: gold;
    position: absolute;
    width: 100px;
    height: 60px;
    top: 0px;
    color: black;   
    text-align: center;
    border-color: goldenrod !important;
}

#puntuacio{
    border-color: goldenrod !important;
    left: 0px;
    top: 0px;
    color: black;
    text-align: center;
    position: absolute;
    font-size: cover;
    width: 120px;
    height: 60px;
    background-color:gold;
}

#empezar{
    border-color: goldenrod !important;
    left: 380px;
    position: absolute;
    height: 80px;
    width: 300px;
    font-size: 50px;
    top: 270px;
    background-color: gold;
}

#siguiente{
    background-image: url("../img/Flechajuego.png");
    background-size: 100% 100%;
    background-position: center;
    border-color: goldenrod !important;
    position: absolute;
    left: 489px;
    height: 80px;
    width: 80px;
    top: 270px;
    border-radius: 30px 30px;
}

#nivel{
    height: 80px;
    width: 90px;
    position: absolute;
    top: 55px;
    left: 0px;
    font-size: 18px;
}
