body {
  font-family: "Lato", sans-serif;
  background-image: url("Imagenes_puzzle/fondo-pagina.jpg");
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.cuentaregresiva{
  color: white;
}
#countdown{
  color: white;
  right: 60px;
}

.parrafo{
  color: white;
  position: relative;
}


.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


  
#entorno {
    display: block;
    margin: 0 auto;
}

#fondo{
    opacity: 0.3;
}





#siguiente{
  background-image: url("../img/Flechajuego.png");
  background-size: 100% 100%;
  background-position: center;
  border-color: goldenrod !important;
  position: absolute;
  left: 500px;
  height: 80px;
  width: 80px;
  top: 270px;
  border-radius: 30px 30px;
}