#sidebar-izquierdo{
    background-color: #BDBDBD;
    padding-top: 53px;
    border-color: #505050 !important;
    padding-bottom: 5px;
   
}

#Ofertas1{
    margin-left: 5px;
    color: #ffffff;
}

.row{
    width: 100%;
}

#menu{
    margin: 15px;
}

#cardoferta{
    margin-top: 10px;
    border-color:  #505050 !important;
    width: 200px;
}

#sidebar-derecho{
    height: 100%;
    background-color: #BDBDBD;
    padding-top: 53px;
    border-color: #505050 !important;
    padding-bottom: 5px;
    float: right;
}

