#sidebar-izquierdo{
    background-color: blue;
    padding-top: 53px;
    border-color: #505050 !important;
    padding-bottom: 5px;
   
}

#Ofertas1{
    margin-left: 15px;
    color: #ffffff;
}

#menu{
    margin: 15px;
}

#cardoferta{
    margin-top: 10px;
    border-color:  #505050 !important;
    width: 200px;
    float: center;
}


