#botonacep{
    margin-right: 2px;
}

.container{
    padding-top: 80px;
    padding-bottom: 276px;
}

#fondo-mercado{
    background-image: url("../img/mercado-fondo.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;

}

