#navbar{
    background-color: #80807D;
    color: #ffffff;
    border-color: #505050 !important; 
}

#footer{
    background-color: #40403E;
    border-color: #505050 !important;
}

#botonregistr{
    background-color: #6d9eeb;
    border-radius: 15px;
}

#botonregistnav{
    background-color: #915876;
    border-radius: 30px;
    margin-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
}

#botoniniciar{
    background-color: #c27ba0;
    border-radius: 30px;
    margin-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
}
.fab{
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

